<section class="ap-l-section  ap-l-card-slice " id="chooseyourmission">
	<div class="sl-container">
		<h2 class="ap-l-card-slice__heading">Choose your mission</h2>

		<ul class="ap-l-card-container ap-l-card-container--logo">
			<li class="ap-c-logo-card ap-c-logo-card--mission">
				<div class="ap-c-logo-card__header ap-c-logo-card__header--highlight">Suitable for beginners</div>
				<div class="ap-c-logo-card__content ap-c-logo-card__content--mission">
					<img alt="" class="ap-c-logo-card__icon ap-c-logo-card__logo ap-c-logo-card__logo--mission" src="/assets/mission_zero_logo-29f47fc17621d5ec8fdf7684b8ffadd131e3208c39bf7d7b804f2e3a56bc06d6f23af80b5c09cd5b095d5f3b45a3b8a5264a1ab8c99c9fa39da54b9b2c364b9d.svg">
						<h3 class="ap-c-logo-card__title">
							<a aria-describedby="ap-c-logo-card__link-desc--zero" class="ap-c-logo-card__link ap-c-logo-card__link--zero" href="/mission-zero/">MISSION ZERO</a>
						</h3>
						<p class="ap-c-logo-card__description">Send a message to the astronauts onboard the International Space Station!</p>
						<div class="ap-c-mission-choice__time ap-c-mission-choice__time--clock">
							<span aria-hidden="true" class="ap-l-icon ap-l-icon-baseline">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<path d="M12 1C5.92545 1 1 5.92545 1 12C1 18.0746 5.92545 23 12 23C18.0746 23 23 18.0746 23 12C23 5.92545 18.0746 1 12 1ZM12 21.1339C6.9567 21.1339 2.86607 17.0433 2.86607 12C2.86607 6.9567 6.9567 2.86607 12 2.86607C17.0433 2.86607 21.1339 6.9567 21.1339 12C21.1339 17.0433 17.0433 21.1339 12 21.1339Z" fill="#002B3F" stroke="#002B3F"></path>
									<path d="M16.2891 15.1086L12.7878 12.5771V6.50014C12.7878 6.3921 12.6994 6.30371 12.5913 6.30371H11.4103C11.3023 6.30371 11.2139 6.3921 11.2139 6.50014V13.2622C11.2139 13.326 11.2433 13.385 11.2949 13.4218L15.3561 16.383C15.4444 16.4468 15.5672 16.4271 15.6311 16.3412L16.3333 15.3836C16.3971 15.2928 16.3775 15.17 16.2891 15.1086Z" fill="#002B3F" stroke="#002B3F"></path>
								</svg>
							</span>
              1 hour
						</div>
						<div class="ap-c-mission-choice__age">
							<span aria-hidden="true" class="ap-l-icon ap-l-icon-baseline">
								<svg width="22" height="22" viewBox="0 0 22 22" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M11 11C14.0387 11 16.5 8.53875 16.5 5.5C16.5 2.46125 14.0387 0 11 0C7.96125 0 5.5 2.46125 5.5 5.5C5.5 8.53875 7.96125 11 11 11ZM11 13.75C7.32875 13.75 0 15.5925 0 19.25V22H22V19.25C22 15.5925 14.6713 13.75 11 13.75Z" fill="#002B3F"></path>
								</svg>
							</span>
              Age under 14
						</div>
						<div aria-hidden="true" class="sc-rp-button ap-c-button ap-c-button--primary ap-c-logo-card__cta" id="ap-c-logo-card__link-desc--zero">Choose Mission Zero</div>
					</div>
				</li>
				<li class="ap-c-logo-card ap-c-logo-card--mission">
					<div class="ap-c-logo-card__header">Suitable for advanced</div>
					<div class="ap-c-logo-card__content ap-c-logo-card__content--mission">
						<img alt="" class="ap-c-logo-card__icon ap-c-logo-card__logo ap-c-logo-card__logo--mission" src="/assets/mission_space_lab_logo-2c3662cd09a5ad30b193ec0dbbf87c481e7106239a90ffa33a91ead1062a346da052631d09614a2773a424fbd2e650b814f0b3356aeb08f8fcdd350e64f1be48.svg">
							<h3 class="ap-c-logo-card__title">
								<a aria-describedby="ap-c-logo-card__link-desc--space-lab" class="ap-c-logo-card__link ap-c-logo-card__link--space-lab" href="/mission-space-lab/">MISSION SPACE LAB</a>
							</h3>
							<p class="ap-c-logo-card__description">Conduct a scientific experiment in space!</p>
							<div class="ap-c-mission-choice__time ap-c-mission-choice__time--date">
								<span aria-hidden="true" class="ap-l-icon ap-l-icon-baseline">
									<svg width="23" height="23" viewBox="0 0 23 23" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M17.3333 12.65H11.5V18.4H17.3333V12.65ZM16.1667 0V2.3H6.83333V0H4.5V2.3H3.33333C2.03833 2.3 1.01167 3.335 1.01167 4.6L1 20.7C1 21.965 2.03833 23 3.33333 23H19.6667C20.95 23 22 21.965 22 20.7V4.6C22 3.335 20.95 2.3 19.6667 2.3H18.5V0H16.1667ZM19.6667 20.7H3.33333V8.05H19.6667V20.7Z" fill="#002B3F"></path>
									</svg>
								</span>
                6 months
							</div>
							<div class="ap-c-mission-choice__age">
								<span aria-hidden="true" class="ap-l-icon ap-l-icon-baseline">
									<svg width="22" height="22" viewBox="0 0 22 22" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M11 11C14.0387 11 16.5 8.53875 16.5 5.5C16.5 2.46125 14.0387 0 11 0C7.96125 0 5.5 2.46125 5.5 5.5C5.5 8.53875 7.96125 11 11 11ZM11 13.75C7.32875 13.75 0 15.5925 0 19.25V22H22V19.25C22 15.5925 14.6713 13.75 11 13.75Z" fill="#002B3F"></path>
									</svg>
								</span>
                Age under 19
							</div>
							<div aria-hidden="true" class="sc-rp-button ap-c-button ap-c-button--primary ap-c-logo-card__cta" id="ap-c-logo-card__link-desc--space-lab">Choose Mission Space Lab</div>
						</div>
					</li>
				</ul>
			</div>
		</section>
