<div class="c-card-slice">
  <% if heading? %>
    <h2 class="c-card-slice__heading"><%= @heading %></h2>
  <% end %>

  <%= render(ContainerComponent.new) do %>
    <%= render(CardContainerComponent.new) %>
  <% end %>
</div>
